@page "{boatId:long}"
@model Boat.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<h2>@Model.Boat.BoatName</h2>
<div>
    Id : @Model.Boat.Id
</div>
<div>
    Boat Holder Name : @Model.Boat.BoatHolderName
</div>
<div>
    Rent Rate : @Model.Boat.RentRate
</div>

<a asp-page="./List" class="btn btn-primary">All Boat List</a>