@page
@model Boat.ListModel
@{
    ViewData["Title"] = "List";
}

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<h1>List</h1>

<form method="get">
    <div class="from-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-success">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach (var item in Model.Boats)
{
    <partial name="_Summary" model="item" />
}
<a class="btn btn-primary" asp-page="./Edit">Add New</a>